/*--------------------------------------------------------------
## Styleguide site
--------------------------------------------------------------*/
.styleguide {
	background-image: url('src/assets/images/background.jpg');
	background-repeat: repeat;
    background-size: auto;
	background-attachment: fixed;
	min-height: 100vh;
	font-family: $font-main;
	padding-top: 60px;
}

.styleguide__scrollspy-nav {
	position: fixed;
	left: 0;
	top: 0;
	width: 330px;
	height: 100vh;
	color: $white;
	font-size: 14px;
	background-color: $orange;
	transition: $dur $ease;
	z-index: 10;
	will-change: scroll-position;
	border-left: 2px solid $red;
	border-right: 2px solid $red;
	padding-bottom: 20px;
	display: flex;
    flex-direction: column;
	justify-content: space-between;

	&.is-hidden {
		transform: translateX(-100%);
	}

	&.hideFade {
		&::after {
			opacity: 0;
		}
	}
}


.styleguide-nav-list-holder {
	position: relative;
	height: calc(100vh - 195px);
	overflow: hidden;

	.ps__rail-y {
		width: 5px;
		border-radius: 1px;
		background-color: $red;
		opacity: 0.2;
	}

	.ps__thumb-y {
		width: 3px;
		right: 1px;
		background-color: $red;
	}

	.ps__rail-y.ps--clicking .ps__thumb-y,
	.ps__rail-y:focus>.ps__thumb-y,
	.ps__rail-y:hover>.ps__thumb-y {
		width: 3px;
		background-color: $red;
	}

	.ps .ps__rail-x.ps--clicking,
	.ps .ps__rail-x:focus,
	.ps .ps__rail-x:hover,
	.ps .ps__rail-y.ps--clicking,
	.ps .ps__rail-y:focus,
	.ps .ps__rail-y:hover {
		background-color: $white;
	}
}

.styleguide__scrollspy-nav-list {
	padding: 50px 40px;

	.list-group-item {
		display: flex;
		align-items: center;
		width: 100%;
		padding: 10px 20px;
		color: $white;
		border-radius: 14px;
		transition: $dur $ease;
		position: relative;
		@include text-overflow;
		font-size: 18px;
		text-transform: uppercase;

		&.active {
			background-color: $pomegranate;
		}

		@include hover {
			color: $sg-orange;
			background-color: rgba($white, 0.9);
		}
	}

	li:last-child .list-group-item {
		border: 0;
	}
}

.list-group-item__icon {
	font-size: 8px;
	margin-right: 8px;
}

.styleguide__scrollspy-nav-title {
	display: block;
	font-weight: bold;
	padding: 5px 10px;
	border-bottom: 1px solid $white;
}

.styleguide__scrollspy-nav-open {
	position: absolute;
    right: 0;
	top: 50%;
    transform: translate(80%, -50%);
    width: 30px;
	height: 65px;
    background: $red;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 32px;
    color: $white;
	border-radius: 0 10px 10px 0;
	transition: $dur $ease;
	z-index: -1;

	@include hover {
		transform: translate(70%, -50%);
	}

	.is-hidden & {
		transform: translate(80%, -50%);
		opacity: 1;
		visibility: visible;
		transition: $dur $ease;

		@include hover {
			transform: translate(100%, -50%);
		}

		.styleguide-open-icon {
			transform: rotate3d(0, 1, 0, 0);
		}
	}
}

.styleguide-open-icon {
	transition: $dur $ease;
	transform: rotate3d(0, 1, 0, 180deg);
}

.styleguide-filter-input-wrap {
	padding: 10px 5px;
}

.styleguide-filter-input[type='text'] {
	font-size: 14px;
	color: $black;
	padding: 4px 5px;
	border-radius: 3px;
	border: 0;
	outline: none;

	@include placeholder {
		font-size: 14px;
		color: $black;
	}

	&:focus {
		outline: none;
	}
}

.styleguide__main-head {
    font-weight: bold;
    font-size: 48px;
    color: $sg-orange;
    text-transform: uppercase;
    text-align: center;
    padding: 100px 0;
}

.styleguide__section {
	margin-bottom: 105px;
	margin-left: 345px;
	padding-top: 15px;
	position: relative;
	border-bottom: 1px solid #e8edf6;
}

.styleguide__head {
	margin-bottom: 50px;
}

.styleguide__head--mod {
    color: $sg-orange;
    font-size: 35px;
    font-weight: 500;
}

.styleguide__colorpallet {
    display: flex;
	flex-wrap: wrap;
    margin: 0 -15px;
	max-width: 800px;
}

.styleguide__colorpallet--mod {
	padding: 0 15px 15px;
	margin-bottom: 100px;
}

.styleguide__color {
    display: inline-block;
	width: 123px;
	height: 123px;
	border-radius: 6px;

}

.styleguide__color-name {
    display: block;
    font-size: 16px;
    color: $mine-shaft;
    text-align: left;
    margin: 10px 0 0;
}

.styleguide__typography-special-titles {
    margin: 0 0 70px;
}

.styleguide__subtitle {
    font-size: 18px;
    font-family: $font-main;
    color: $black;
    margin: 0 0 25px;
}

.styleguide__buttons {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	margin: 0 -15px;
}

.styleguide__btn {
	padding: 0 15px 15px;
}

.styleguide__section-content {
	position: relative;
	border-bottom: 1px solid #e8edf6;

	// &::before,
	// &::after {
	// 	display: block;
	// 	background-color: $sg-blue;
	// 	padding: 1px;
	// 	color: $white;
	// 	text-align: center;
	// 	width: 120px;
	// 	font-size: 11px;
	// 	letter-spacing: 2px;
	// 	position: absolute;
	// 	left: 50%;
	// }

	// &::before {
	// 	content: 'start section';
	// 	top: 0;
	// 	transform: translate(-50%, -100%);
	// }

	// &::after {
	// 	content: 'end section';
	// 	bottom: 0;
	// 	transform: translate(-50%, 100%);
	// }
}

.styleguide__fonts-items {
	font-size: 26px;
	display: block;
}

.styleguide__icons {
	display: flex;
	flex-wrap: wrap;
	margin: 0 -10px;
	max-width: 500px;
}

.styleguide__icons-item {
	padding: 0 30px 45px 0;

	.basic-icon {
		svg {
			max-height: 30px;
		}
	}
}

.styleguide__icons-icon {
	font-size: 35px;
	width: 105px;
	height: 105px;
	display: flex;
	align-items: center;
	justify-content: center;
	background: #f1f1f1;
}

// remove header and footer from styleguide page
.page-template-styleguide,
.page-template-page-styleguide {
	padding-top: 0;
	margin-top: 0;

	.site-header,
	.site-footer {
		display: none;
	}
}

.styleguide-basic {
	background-color: $orange;
	min-height: 100vh;
	color: $white;
}

.styleguide-intro__image--img {
	display: block;
	width: 100%;
	max-width: 150px;
}

.styleguide-basic__intro-image {
    display: flex;
    flex-direction: column;
    margin: 30px 62px;
    align-items: flex-start;
}

.styleguide-section {
	padding: 60px 0;
}

.styleguide-section__title {
	color: $mine-shaft;
	font-size: 18px;
	text-transform: uppercase;
}

.styleguide-text {
	color: $orange;
	font-size: 18px;
}

.styleguide__font-block--example {
	font-size: 90px;
	line-height: 1;
	margin-bottom: 10px;

	&.font-main {
		font-family: $font-main;
	}
}

.styleguide__font-block--name {
	text-transform: capitalize;
}

.styleguide__font-holder {
	display: flex;
    flex-direction: row;
    flex-wrap: wrap;
	margin-bottom: 90px;
}

.styleguide__font-block--item {
	position: relative;
	display: flex;
	flex-direction: column;
	padding-right: 40px;

	&::after {
		content: '';
		position: absolute;
		right: 20px;
		top: 0;
		width: 1px;
		height: 100%;
		background-color: #e8edf6;
	}
}

.styleguide__font-block {
	display: flex;
    flex-direction: row;
	margin: 0 55px 30px 0;
	max-width: 215px;
}

.styleguide-sidebar {
	background-color: $orange;
	width: 220px;
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
	max-height: 100vh;
	overflow-y: scroll;
    overflow: auto;

	// scroll
	&::-webkit-scrollbar-track { //sass-lint:disable-line no-vendor-prefixes
		-webkit-box-shadow: none; //sass-lint:disable-line no-vendor-prefixes
		border-radius: 10px;
		background-color: transparent;
	}

	&::-webkit-scrollbar { //sass-lint:disable-line no-vendor-prefixes
		width: 6px;
		background-color: transparent;
		height: 6px;
	}

	&::-webkit-scrollbar-thumb { //sass-lint:disable-line no-vendor-prefixes
		border-radius: 10px;
		-webkit-box-shadow: inset 0 0 3px $watusi; //sass-lint:disable-line no-vendor-prefixes
		background-color: $watusi;
	}
}

.styleguide__title-holder {
	display: flex;

}

.styleguide__title {
	position: relative;
	padding-right: 40px;
	width: 500px;
	padding-bottom: 30px;

	&::after {
		content: '';
		position: absolute;
		right: 20px;
		top: 0;
		height: 100%;
		width: 1px;
		background-color: #e8edf6;
	}
}

.styleguide__form-elements--holder {
	display: flex;
	flex-wrap: wrap;
}

.styleguide__form-element {
	margin: 0 88px 70px 0;
}


.styleguide-component__border {
	position: absolute;
	bottom: 0;
	left: 50%;
	height: 30px;
	transform: translate(-50%, 30px);
	color: $tarawera;
	font-size: 17px;
}

.styleguide__body {
	// padding-bottom: 80px;
}

//IE fix
@include browser-support(ie) {
	.styleguide__title {
		min-width: 473px;
	}
}
