/*--------------------------------------------------------------
## Popup
--------------------------------------------------------------*/
.popup {
	display: none;
	max-width: 600px;

	p {
		line-height: 1.8;
		font-size: 17px;
	}
}

.fancybox-slide--html {
	.fancybox-close-small {
		right: 10px;
		top: 10px;

		svg {
			width: 30px;
			height: 30px;
		}
	}
}

.popup-title {
	font-size: 24px;
    margin-bottom: 20px;
    font-weight: 600;
}

.popup-custom-class {
	.fancybox-bg {
		background: rgba($black, 0.8);
	}
}

.fancybox-content {
	box-shadow: 0 7px 13px rgba(212, 299, 255, 0.3);
	padding: 60px 40px;
	max-width: 1060px;
}

// tooltip popup
.tooltip-holder {
	position: relative;
	display: block;

	.tooltip {
		position: absolute;
		left: 50%;
		transform: translate(-50%, 0);
		width: 180px;
		background: $dodger-blue;
		bottom: calc(100% + 15px);
		padding: 15px 10px;
		border-radius: 4px;
		color: $white;
		font-size: 13px;
		text-align: center;
		line-height: 1.2;
		opacity: 0;
		user-select: none;
		pointer-events: none;
		transition: $dur $ease;

		&::after {
			content: '';
			position: absolute;
			top: 100%;
			left: 50%;
			margin-left: -7px;
			border-width: 7px;
			border-style: solid;
			border-color: $dodger-blue transparent transparent;
		}
	}

	&:hover {
		.tooltip {
			opacity: 1;
		}

		svg {
			fill: $orange;
		}
	}
}
